.main-draw{
    padding-bottom: 30px;
}

.topnavc{
    display: flex;
    background-color: black;
    color: white;

}

.topnavleft{
    display: flex;
    flex-grow: 0
}

.topnavcenter{
    display: flex;
    flex-grow: 8;
}

.flex{
    display: flex;
    height: 600;

}

.flex-left{
    flex-grow: 5;

}

.flex-right{
    flex-grow: 5;
}

.flex-right2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 5;
}

.flexc{
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-content: flex-end;
    flex-grow: 1
}

.midscroll{
    flex-grow: 5;
}

.year{
    border: 2px solid grey;
    background: rgb(187, 187, 187)

}

.page-heading{
    position: absolute;
    top: 30%;
    left: 17%;
}

.container{
    position: relative;
}

a:link{
    text-decoration: none;
    padding: 5px
}

hr{
    height: 2px;
    max-width: 80%;
    background-color: grey;
}

.footer{
    color: white;
    font-size: 20px;

}

a:hover{
    background-color: grey;
}

span{
    padding: 5px;
}